@tailwind base;
@tailwind components;
@tailwind utilities;

.divider {
  @apply w-full h-[2px] min-h-[2px] max-h-[2px] bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%;
}

body {
  transition: background-color 300ms ease;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
