@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme Styles */
.light {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 255, 255, 255; /* White background start */
  --background-end-rgb: 255, 255, 255; /* White background end */
}

/* Dark Theme Styles */
.dark {
  --foreground-rgb: 255, 255, 255; /* White text */
  --background-start-rgb: 0, 0, 0; /* Black background start */
  --background-end-rgb: 0, 0, 0; /* Black background end */
}

.divider {
  @apply w-full h-[2px] min-h-[2px] max-h-[2px] bg-gradient-to-r from-primary;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
